body {
  text-align: center;
  background-color: rgb(243, 247, 150);
}

h1 {
  margin: 13px 3px 0px 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: rgb(136, 139, 47);
  text-align: center;
}
#second-heading {
  margin: 30px 199px 0px 200px;
  padding: 10px 48px;
  background-color: rgb(249, 253, 125);
  border-radius: 10px;
  border: 2px solid rgb(177, 171, 81);
  font-size: 60px;
}
.first-part{
  height: 115px;
}


ol {
  list-style: none;
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  color: rgb(10, 7, 7);
  text-align: center;
  padding: 0px 0px 0px 0px;
  line-height: 45px;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  color: rgb(55, 46, 32);
}

a {
  text-decoration: none;
}
a:hover {
  color: rgb(242, 157, 129);
  text-decoration: none;
}
img {
  height: 60px;
  width: 60px;
}

#quote-end {
  color: rgb(112, 99, 39);
  font-size: 35px;
}

.custom-Li {
  border-radius: 40px;
  background-color: rgb(205, 214, 102);
  margin: 65px 254px 81px 309px;
  padding: 2px;
  box-shadow: 4px 4px 7px rgba(0 ,0 , 0, 0.2);
}
