body {
  text-align: center;
  background-color: rgb(249, 235, 107);
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: rgb(125, 35, 35);
}

p {
  font-family: 'Fira sans', sans-serif;
  color: rgb(46, 13, 13);
}
a {
  color: rgb(255, 187, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#todays-challange {
  color: rgb(88, 79, 14);
  font-weight: bold;
  font-size: 52px;
}

img {
  width: 200px;
  height: 200px;
}
